<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='normalize.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/Logo.png') }}"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sora:wght@100;300;400;500;700;800&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}Viajando por Colombia{% endblock %}</title>
  </head>
  <body>
    <header class="nav-bg">
      <nav class="navegacion-principal contenedor">
        <img
          class="nav-img"
          src="{{ url_for('static', filename='img/Logo.png') }}"
          alt="Logo Viajar por Colombia"
        />
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('contact') }}">Contacto</a>
        <a href="{{ url_for('reviews') }}">Reseñas</a>
      </nav>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
      <div class="footer-contenido">
        <div class="footer-info">
          <h3>Sobre Nosotros</h3>
          <p>
            Somos una plataforma dedicada a ofrecer contenido único y
            entretenido, donde puedes explorar historias fascinantes y anécdotas
            interesantes.
          </p>
        </div>
        <div class="footer-contacto">
          <h3>Contacto</h3>
          <p>Correo: contacto@tu-pagina.com</p>
          <p>Teléfono: +57 123 456 7890</p>
        </div>
        <div class="footer-redes">
          <h3>Síguenos</h3>
          <div class="redes-sociales">
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://twitter.com" target="_blank">Twitter</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
            <a href="https://linkedin.com" target="_blank">LinkedIn</a>
          </div>
        </div>
      </div>
      <div class="footer-legal">
        <p>
          &copy; 2024 Viajar por Colombia - Daniel Suesca. Todos los derechos
          reservados.
        </p>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
